.button {
  display: inline-block;
  min-width: 100px;
  padding: 10px 20px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: #aaa;
  }

  &:focus {
    outline: none;
  }
}
